// Styling for the footer

/*====================================================
                      FOOTER
======================================================*/
.footer {
  
  .top-footer { 
    padding:20px 0;
    background:$gray-500; 
    p {
      margin: 0;
      color: $gray-600;
      a {
      }
    }
  }
   
}
 