// Heading Color
$heading-color: #000000;

// Text Color
$text-color: #787878;

// Default Background
$bg-default: #0315ff;

// Gray Background
$bg-gray: #f5f7f9;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #dc0345;