.work-details {
	margin: 0 0 20px;
}

.work-details-title {
	color: #111;
	margin: 0 0 20px;
}

.work-details ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.work-details ul > li {
	border-bottom: 1px dotted #c2c2c2;
	padding: 0 0 5px;
	margin: 0 0 5px;
}
