.video-box {
	text-align: center;
	padding: 40px 0;
}

.video-box-icon > a > i,
.video-box-icon > a > span {
	line-height: 1.8;
	font-size: 40px;
	color: #fff;
}

.video-title {
	letter-spacing: 4px;
	font-size: 30px;
	margin: 10px 0 0;
}

.video-subtitle {
	color: rgba(255, 255, 255, .5);
}
