$heading-color: #000000;

$text-color: #8d8d8d;

$bg-default: #232323;

$bg-gray: #f1f1f1;

$color-white: #ffffff;

$color-dark: #000000;

$hover-color: #0000ff;

$blue-color: #0000ff;

$footer-color: #161616;