.callout-text {
	color: rgba(255, 255, 255, 0.6);
}

.callout-title {
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	margin: 0;
}

.callout-btn-box {
	text-align: right;
	padding-top: 4px;
}

.request-cta {
	padding: 50px 0px;
}