/*
author: Boostraptheme
author URL: https://boostraptheme.com
License: Creative Commons Attribution 4.0 Unported
License URL: https://creativecommons.org/licenses/by/4.0/
*/ 

        nav.nav.vert-tab {
            z-index: 1030;
        }

        .vert-tab-scrolled {
            position: fixed;
            top: 22px;
        }

        .faq-cont {
            background: #fff;
            padding:20px;
        }

        .faq-cont .faq-heading-cont h3 {
            color:#666;
            padding:10px;
        }

        a.tab-faq:first-child{
            padding:15px 30px;
            margin:0px 0px 15px 0;
            color:#555;
            background: #fff;
            /*border:1px solid #ddd;*/
        }

        a.tab-faq{
            padding:15px 30px;
            margin:15px 0px;
            color:#777;
            background: #fff;
            /*border:1px solid #ddd;*/
        }

        a.tab-faq h3{
            color:#777;
            font-size: 1.65em;
        }

        a.tab-faq h3 i{
            height: 40px;
            float: left;
            margin-right: 10px;
        } 
        a.tab-faq small{
            color:#777;
        }

        .panel-heading {
            padding:10px 20px;
        }

        .panel-heading a,
        .panel-heading a:hover,
        .panel-heading a:focus {
            text-decoration: none;
            color: #777777;
            width:100%;
        } 

        .panel-body {
            padding:10px 20px;
            color:#555;
        }

        .active-faq {
            border-left: 5px solid #888888;
        }

        .panel-faq .panel-heading .panel-title span {
            font-size: 13px;
            font-weight: normal;
        }