.banner-area {
	background: url(../img/banner.jpg) no-repeat center center/cover;
	.overlay-bg {
		background: -moz-linear-gradient(left, rgba(60,64,143,.95) 0%, rgba(91,97,207,.95) 100%);
		background: -webkit-linear-gradient(left, rgba(60,64,143,.95) 0%,rgba(91,97,207,.95) 100%);
		background: linear-gradient(to right, rgba(60,64,143,.95) 0%,rgba(91,97,207,.95) 100%);
	}
}
.signle-service {
	margin-top: 30px;
	figcaption {
		background: $white;
		padding: 40px 20px;
		h5 {
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 30px;
		}
	}
}

//------- Start Product Area --------//

.title-bg {
	background: $title-color;
}
.product-area-title {
	padding-bottom: 70px;
	h2 {
		@include media-breakpoint-down (md) {
			br {
				display: none;
			}
		}
	}
}
.single-product {
	margin-top: 30px;
	background: $white;
	border-bottom: 2px solid $primary-color;
	padding: 70px 20px;
	@include transition();
	.icon {
		text-align: center;
		margin-bottom: 20px;
		span {
			font-size: 48px;
			color: $primary-color;
			@include transition();
		}
	}
	.desc {
		text-align: center;
		h4 {
			margin-bottom: 10px;
			@include transition();
		}
		p {
			margin-bottom: 0;
			@include transition();
		}
	}
	&:hover {
		.icon span, .desc h4, .desc p {
			color: $white;
		}
		background: $primary-color;
	}
}

.controls {
	.filter {
		margin: 0 20px 10px 20px;
		display: inline-block;
		text-transform: uppercase;
		font-weight: 500;
		cursor: pointer;
		&:hover {
			color: $primary-color !important;
		}
		&.active {
			color: $primary-color !important;
		}
	}
}
.single-filter-content {
	height: 350px;
	position: relative;
	.overlay-bg-content {
		background: -moz-linear-gradient(left, rgba(60,64,143,.95) 0%, rgba(91,97,207,.95) 100%);
		background: -webkit-linear-gradient(left, rgba(60,64,143,.95) 0%,rgba(91,97,207,.95) 100%);
		background: linear-gradient(to right, rgba(60,64,143,.95) 0%,rgba(91,97,207,.95) 100%);
		text-align: center;
		padding: 50px 100px;
		p {
			margin: 0;
		}
		.line {
			margin: 10px 0 15px 0;
			width: 100%;
			height: 1px;
			background: $primary-color;
		}
		opacity: 0;
		@include transition();
	}
	&:hover {
		.overlay-bg-content {
			opacity: 1;
		}
	}
	&.content-1 {
		background: url(../img/c1.jpg) no-repeat center center/cover;
	}
	&.content-2 {
		background: url(../img/c2.jpg) no-repeat center center/cover;
	}
	&.content-3 {
		background: url(../img/c3.jpg) no-repeat center center/cover;
	}
	&.content-4 {
		background: url(../img/c4.jpg) no-repeat center center/cover;
	}
	&.content-5 {
		background: url(../img/c5.jpg) no-repeat center center/cover;
	}
	&.content-6 {
		background: url(../img/c6.jpg) no-repeat center center/cover;
	}
	&.content-7 {
		background: url(../img/c7.jpg) no-repeat center center/cover;
	}
	&.content-8 {
		background: url(../img/c8.jpg) no-repeat center center/cover;
	}
}

.single-member {
	margin-top: 30px;
	.thumb {
		background-repeat: no-repeat !important;
		background-position: center center !important;
		background-size: cover !important;
		height: 300px;
		.overlay-member {
			background: -moz-linear-gradient(left, rgba(60,64,143,.95) 0%, rgba(91,97,207,.95) 100%);
			background: -webkit-linear-gradient(left, rgba(60,64,143,.95) 0%,rgba(91,97,207,.95) 100%);
			background: linear-gradient(to right, rgba(60,64,143,.95) 0%,rgba(91,97,207,.95) 100%);
			text-align: center;
			padding: 30px;
			p {
				margin: 0;
				font-size: 12px;
			}
			.line {
				margin: 20px 0 20px 0;
				width: 100%;
				height: 1px;
				background: $primary-color;
			}
			opacity: 0;
			@include transition();
			.social {
				a {
					color: rgba($white, .5);
					margin: 0 4px;
					padding: 2px;
					&:hover {
						color: $primary-color;
					}
				}
			}
		}
		&:hover {
			.overlay-member {
				opacity: 1;
			}
		}
	}
	.desc {
		padding: 30px;
		h5 {
			a {
				color: $title-color;
				&:hover {
					color: $primary-color;
				}
			}
		}
		p {
			margin: 0;
		}
	}
}

//------------ Start Studio Area --------------//
.studio-area {
	position: relative;
	.container {
		position: relative;
		z-index: 3;
	}
	&:before {
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		width: 50%;
		height: 100%;
		background: #404598;
		z-index: 2;
		@include media-breakpoint-down (md) {
			background: rgba(#404598, .95);
			width: 100%;
		}
	}
	&:after {
		position: absolute;
		content: "";
		right: 0;
		top: 0;
		width: 50%;
		height: 100%;
		background: url(../img/studio-bg.jpg) no-repeat center center/cover;
		z-index: 1;
		@include media-breakpoint-down (md) {
			width: 100%;
		}
	}
}
//------------ End Studio Area --------------//

//------------ Start Pricing Area ------------//

.single-pricing-table {
	margin-top: 30px;
	.top {
		background-image: -moz-linear-gradient( 0deg, rgb(60,64,143) 0%, rgb(91,97,207) 100%);
		background-image: -webkit-linear-gradient( 0deg, rgb(60,64,143) 0%, rgb(91,97,207) 100%);
		background-image: -ms-linear-gradient( 0deg, rgb(60,64,143) 0%, rgb(91,97,207) 100%);
		.head {
			padding: 35px 20px;
			span {
				font-size: 48px;
				color: $primary-color;
			}
			h5 {
				margin-top: 20px;
			}
		}
		.package {
			padding: 30px 20px;
			background: rgba(0,0,0,.1);
			.price {
				color: $primary-color;
				font-size: 36px;
				margin-bottom: 10px;
				line-height: 1em;
			}
		}
	}
	.bottom {
		background: #f9f9ff;
		padding: 35px 20px 50px 20px;
		ul {
			margin-bottom: 50px;
			li {
				margin-top: 15px;
			}
		}
	}
}


.active-testimonial-carousel {
	.single-testimonial {
		padding: 40px 20px;
		background: $white;
		text-align: center;
		img {
			display: inline-block !important;
			width: auto !important;
			margin-bottom: 30px;
		}
		.author {
			h6 {
				a {
					color: $title-color;
					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}
	.owl-dots {
		padding-top: 70px;
		margin-left: -5px;
		@include flexbox();
		@include justify-content(center);
		.owl-dot {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #eeeeee;
			display: inline-block;
			margin-left: 10px;
			&.active {
				background: #777777;
			}
		}
	}
}

.single-publish {
	margin-top: 30px;
	.top {
		padding-top: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid #eee;
		margin-bottom: 20px;
		.line {
			display: inline-block;
			margin: 0 10px;
		}
		h6 {
			a {
				color: $title-color;
			}
		}
	}
}


.single-input {
	input {
		width: 100%;
		line-height: 40px;
		padding: 0 20px;
		background: $white;
		border: none;
		&:focus {
			outline: none;
			border: 1px solid transparent;
			box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
		}
	}
	textarea {
		width: 100%;
		line-height: 50px;
		padding: 0 20px;
		height: 140px;
		resize: none;
		border: none;
		background: $white;
		border: none;
		&:focus {
			outline: none;
			border: 1px solid transparent;
			box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
		}
	}
}

.cta-area {
	background: #3d4191;
	padding: 60px 0;
	.primary-btn {
		@include mobile {
			margin-top: 10px;
		}
	}
}

footer {
	background: $title-color;
	.footer-nav {
		margin-top: -7px;
		li {
			margin-top: 8px;
			a {
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
}
.subscription {
	input {
		width: 100%;
		line-height: 40px;
		border: 1px solid #333333;
		padding: 0 50px 0 25px;
		background: transparent;
		color: $white;
		font-weight: 300;
	}
	.newsletter-btn {
		width: 42px;
		height: 40px;
		line-height: 42px;
		text-align: center;
		background: transparent;
		color: $white;
		position: absolute;
		top: 1px;
		right: 0;
		border: 1px solid $primary-color;
		@include transition();
		cursor: pointer;
		&:focus {
			outline: none;
			cursor: pointer;
		}
		&:hover {
			background: $primary-color;
		}
	}
	.info {
		position: absolute;
		top: 50px;
		left: 0;
		color: $white;
		font-size: 12px;
		&.valid {
			color: $primary-color;
		}
		&.error {
			color: red;
		}
	}
}
.instafeed {
	margin: -5px;
	li {
		width: 25%;
		img {
			margin: 5px;
		}
	}
}
.single-footer-widget {
	margin-bottom: 30px;
}
.footer-bottom {
	padding-top: 40px;
	border-top: 1px solid #eee;
	.footer-text {
		a {
			&:hover {
				color: $primary-color;
			}
		}
	}
}