html {
  overflow-x: hidden; }

body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.8;
  font-size: 18px;
  background: #fff;
  color: #859196; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #1FAD9F; }
  a:hover {
    text-decoration: none;
    color: #1FAD9F; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.45;
  font-weight: normal;
  color: #000; }

.text-primary {
  color: #1FAD9F !important; }

.probootstrap-aside {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  float: left;
  min-height: 500px;
  overflow-y: scroll;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  background: #fff;
  z-index: 10;
  font-size: 16px;
  line-height: 1.5; }
  @media screen and (max-width: 768px) {
    .probootstrap-aside {
      -webkit-transform: translateX(-250px);
      -ms-transform: translateX(-250px);
      transform: translateX(-250px);
      padding-top: 40px; } }
  .probootstrap-aside.active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }
  .probootstrap-aside .probootstrap-close-menu {
    position: absolute;
    right: 15px;
    color: #000;
    font-size: 14px;
    top: 20px;
    z-index: 20;
    text-transform: uppercase; }
    .probootstrap-aside .probootstrap-close-menu span {
      position: relative;
      font-size: 16px;
      top: 2px; }
  .probootstrap-aside .probootstrap-site-logo {
    padding: 30px 30px 30px 30px;
    position: relative; }
    .probootstrap-aside .probootstrap-site-logo .probootstrap-logo {
      font-size: 20px;
      text-decoration: none;
      color: #000;
      color: #1FAD9F;
      text-transform: uppercase;
      letter-spacing: .05em; }
  .probootstrap-aside .probootstrap-nav {
    padding-left: 30px; }
    .probootstrap-aside .probootstrap-nav ul {
      padding: 0;
      margin: 0; }
      .probootstrap-aside .probootstrap-nav ul li {
        padding: 0;
        margin: 0 0 10px 0;
        display: block;
        list-style: none;
        float: left;
        width: 100%; }
        .probootstrap-aside .probootstrap-nav ul li a {
          color: #000;
          padding: 3px 0;
          display: block;
          float: left;
          position: relative; }
          .probootstrap-aside .probootstrap-nav ul li a:after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 0;
            left: 0;
            height: 2px;
            background: #1FAD9F;
            -webkit-transition: .3s width ease-out;
            -o-transition: .3s width ease-out;
            transition: .3s width ease-out; }
          .probootstrap-aside .probootstrap-nav ul li a:hover:after {
            width: 30px; }
        .probootstrap-aside .probootstrap-nav ul li.active a:after {
          width: 100%; }
  .probootstrap-aside .probootstrap-overflow {
    height: 500px; }
  .probootstrap-aside .probootstrap-aside-footer {
    font-size: 14px;
    padding-left: 30px;
    position: absolute;
    bottom: 20px; }

.probootstrap-aside-social li {
  display: inline-block; }

.probootstrap-aside-social a {
  display: inline-block;
  color: #666666;
  font-size: 20px; }
  .probootstrap-aside-social a:hover {
    color: #1FAD9F; }

.probootstrap-main {
  width: calc(100% - 250px);
  float: right;
  padding: 30px;
  position: relative; }
  .probootstrap-main:before {
    background: rgba(0, 0, 0, 0.5);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .6s all ease;
    -o-transition: .6s all ease;
    transition: .6s all ease; }
  .probootstrap-main.mobile-open:before {
    visibility: visible;
    opacity: 1; }
  .probootstrap-main .probootstrap-bar {
    position: fixed;
    top: 0;
    padding: 20px 0;
    z-index: 5;
    background: #fff;
    width: calc(100% - 250px);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
    @media screen and (max-width: 768px) {
      .probootstrap-main .probootstrap-bar {
        width: 100%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%); } }
    .probootstrap-main .probootstrap-bar .probootstrap-toggle {
      position: absolute;
      left: 15px;
      font-size: 20px;
      color: #000;
      z-index: 2;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .probootstrap-main .probootstrap-bar .probootstrap-main-site-logo {
      margin: 0 auto;
      width: 100px;
      text-align: center;
      position: relative; }
      .probootstrap-main .probootstrap-bar .probootstrap-main-site-logo a {
        font-size: 20px;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        letter-spacing: .05em; }
  @media screen and (max-width: 768px) {
    .probootstrap-main {
      width: 100%;
      padding: 30px 15px; } }
  @media screen and (max-width: 1140px) {
    .probootstrap-main .card-columns {
      -webkit-columns: 3;
      -moz-columns: 3;
      columns: 3; } }
  @media screen and (max-width: 960px) {
    .probootstrap-main .card-columns {
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2; } }
  @media screen and (max-width: 768px) {
    .probootstrap-main .card-columns {
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2; } }
  @media screen and (max-width: 576px) {
    .probootstrap-main .card-columns {
      -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1; } }
  .probootstrap-main .card-columns .card {
    background: #e6e6e6;
    border: none;
    border-radius: 0px !important;
    margin-bottom: 20px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    position: relative;
    opacity: 0;
    visibility: hidden; }
    .probootstrap-main .card-columns .card.img-loaded {
      opacity: 1;
      visibility: visible; }
    .probootstrap-main .card-columns .card a {
      position: relative;
      display: block; }
      .probootstrap-main .card-columns .card a:before {
        z-index: 1;
        content: "";
        background: rgba(255, 255, 255, 0.7);
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .probootstrap-main .card-columns .card a .card-img-top {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important; }
    .probootstrap-main .card-columns .card:hover, .probootstrap-main .card-columns .card:focus {
      -webkit-transform: scale(0.96);
      -ms-transform: scale(0.96);
      transform: scale(0.96); }
      .probootstrap-main .card-columns .card:hover a:before, .probootstrap-main .card-columns .card:focus a:before {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        visibility: visible;
        opacity: 1; }

.bg-image, .probootstrap-cover {
  background-size: cover;
  background-repeat: no-repeat; }

.probootstrap-cover {
  background-position: center center; }
  .probootstrap-cover .probootstrap-heading {
    font-size: 45px;
    line-height: 1.34;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .probootstrap-cover .probootstrap-heading {
        font-size: 37px;
        line-height: 1.3; } }
  .probootstrap-cover .probootstrap-subheading, .probootstrap-cover p {
    color: rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 768px) {
    .probootstrap-cover .btn {
      width: 100% !important;
      border: 1px solid red; } }
  .probootstrap-cover a {
    position: relative;
    color: #fff; }
    .probootstrap-cover a:before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #1FAD9F;
      height: 2px;
      content: " "; }
  .probootstrap-cover.overlay {
    position: relative; }
    .probootstrap-cover.overlay:before {
      content: "";
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }

.btn {
  border-radius: 4px;
  padding: 20px 30px;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }
  .btn:before {
    display: none; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-primary {
    background: #1FAD9F;
    border-color: #1FAD9F;
    color: #fff; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
      border-color: #178277;
      background: #178277; }
  .btn.btn-outline-white {
    border-color: rgba(255, 255, 255, 0.2);
    background: none; }
    .btn.btn-outline-white:hover, .btn.btn-outline-white:focus, .btn.btn-outline-white:active {
      background: #fff;
      border-color: #fff;
      color: #000; }

.form-control {
  border: 2px solid rgba(0, 0, 0, 0.2);
  height: 55px;
  background: none !important;
  color: #000 !important;
  font-size: 18px; }
  .form-control:focus, .form-control:active {
    border: 2px solid #000; }

textarea {
  height: inherit !important; }

.probootstrap-vh-100 {
  height: 100vh; }
  @media screen and (max-width: 960px) {
    .probootstrap-vh-100 {
      height: inherit;
      padding-top: 5em;
      padding-bottom: 5em; } }

.probootstrap-vh-75 {
  height: 75vh; }
  @media screen and (max-width: 960px) {
    .probootstrap-vh-75 {
      height: inherit;
      padding-top: 5em;
      padding-bottom: 5em; } }

.bg-primary {
  background: #1FAD9F !important; }

.probootstrap-section,
.probootstrap-footer {
  padding: 7em 0; }
  .probootstrap-section .probootstrap-heading,
  .probootstrap-footer .probootstrap-heading {
    font-size: 40px;
    line-height: 1.5; }
    @media screen and (max-width: 768px) {
      .probootstrap-section .probootstrap-heading,
      .probootstrap-footer .probootstrap-heading {
        font-size: 30px; } }

.probootstrap-bg-dark {
  background: #263135; }

.probootstrap-footer {
  font-size: 16px; }
  .probootstrap-footer .probootstrap-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .probootstrap-footer .probootstrap-footer-widget h2 {
    font-weight: normal; }
  .probootstrap-footer p {
    color: rgba(255, 255, 255, 0.3); }
  .probootstrap-footer.probootstrap-bg-dark {
    background: #222b2f; }
  .probootstrap-footer a {
    color: rgba(255, 255, 255, 0.3); }
    .probootstrap-footer a:hover {
      color: #1FAD9F; }
  .probootstrap-footer .probootstrap-heading {
    font-size: 24px; }
  .probootstrap-footer .probootstrap-heading-2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6); }

.probootstrap-footer-social li {
  list-style: none;
  margin: 0 10px 10px 0;
  display: inline-block; }
  .probootstrap-footer-social li a {
    height: 60px;
    width: 60px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative; }
    .probootstrap-footer-social li a span {
      position: absolute;
      font-size: 26px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.footer-small-nav > li {
  display: inline-block; }
  .footer-small-nav > li a {
    margin: 0 10px 10px 0; }
    .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
      color: #1FAD9F; }

.media .probootstrap-icon {
  width: 100px; }
  .media .probootstrap-icon span {
    color: #1FAD9F; }

.probootstrap-media {
  border: 1px solid #e6e6e6; }
  .probootstrap-media.text-center .probootstrap-icon {
    margin: 0 auto; }

.probootstrap-overflow-hidden {
  overflow: hidden; }

.padding-top-bottom {
  padding-top: 120px;
  padding-bottom: 120px; }

.probootstrap-owl {
  position: relative;
  z-index: 1; }
  .probootstrap-owl .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 10;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .probootstrap-owl .owl-nav .owl-prev,
    .probootstrap-owl .owl-nav .owl-next {
      position: absolute;
      font-size: 30px;
      background: #1FAD9F;
      color: #fff;
      padding: 10px;
      line-height: 0; }
    .probootstrap-owl .owl-nav .owl-prev {
      left: 0; }
    .probootstrap-owl .owl-nav .owl-next {
      right: 0; }
  .probootstrap-owl .owl-dots {
    position: relative;
    text-align: center;
    margin-top: 30px; }
    .probootstrap-owl .owl-dots .owl-dot {
      display: inline-block;
      zoom: 1; }
      .probootstrap-owl .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        background: #ccc;
        border-radius: 50%;
        display: inline-block;
        margin: 5px 7px; }
      .probootstrap-owl .owl-dots .owl-dot.active span {
        background: #1FAD9F; }
  .probootstrap-owl:hover .owl-nav {
    visibility: visible;
    opacity: 1; }

.probootstrap-animate {
  opacity: 0;
  visibility: hidden; }

#probootstrap-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#probootstrap-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#probootstrap-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#probootstrap-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#probootstrap-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }
