
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #f67590;
$title-color	: #222222;
$text-color		: #777777;
$font-weight-sb : 600;

$text-color-white	: #ffffff;
$text-color-black	: #222222;
$text-color-gray	: #777777;

$white			: #fff;
$black			: #000;
$offwhite		: #f9faff;


$white			: #fff;
$black			: #000;



